.homepage-bg-image {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../assets/images/homepage/mainbg.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.homepage-text {
    font-family: open-sans;
    margin-top: 100px;
    margin-left: 50px;
}

.homepage-big-text {
    margin-top: 200px;
    font-size: 64pt;
    font-weight: bold;
    color: white;
    line-height: 64pt;
}

.image-holder {
    overflow: hidden;
}

.little-text {
    width: 800px;
    font-size: 24pt;
    color: white;
    font-weight:bold;
}