.login-bg-image {
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../assets/images/loginpage/background.png");
    background-size: 100vw 100vh;
}

.login-panel {
    width: 35vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 32.5vw;
    top: 5vh;
    border-radius: 5%;
    display: flex;
    color: black;
    font-size: 64pt;
    justify-content: center;
    flex-wrap: wrap;
}

.top-text {
    width: 100%;
    text-align: center;
}

.error {
    width: 100%;
    color: red;
    text-align: center;
    font-size: 20pt;
}